oslab.tar
linux-5.14*

*.out
.DS_Store
*.o
.vscode


Image
System.map
vmlinux

Lab4/lab4/arch/riscv/kernel/vmlinux.lds

Lab5/lab5/arch/riscv/kernel/vmlinux.lds
Lab5/lab5/user/uapp.bin
Lab5/lab5/user/uapp.elf

